.all_sensors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 115px;
    grid-gap: 0px;
    margin-right: 0px;
}
.no_sensor_data {
    text-align: center;
    padding-top:50px;
}
@media screen and (min-width: 765px) {
    .all_sensors {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-auto-rows: 250px;
        grid-gap: 5px;
        margin-right: 25px;
    }   
}