@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  padding: 10px;
  border-bottom: 1px solid #CCC;
}
header button {
  margin-left: 5px;
  margin-right: 5px;
}
main {
  padding: 15px;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 5px;
  margin-right: 25px;

}