@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  padding: 10px;
  border-bottom: 1px solid #CCC;
}
header button {
  margin-left: 5px;
  margin-right: 5px;
}
main {
  padding: 15px;
}