@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  padding: 10px;
  border-bottom: 1px solid;
}
header button {
  margin-left: 5px;
  margin-right: 5px;
}
main {
  padding: 15px;
}
button {
  background-color: #ececec;
  padding: 3px;
  border: 1px solid #676767;
  min-width: 100px;
  border-radius: 5px;
}
button:hover {
  background-color: #dde1fa;
}
.active {
  color: #FFF;
  cursor: default;
  background-color: #8597ff;
}
.active:hover {
  background-color: #8597ff;
}