.sensor_aside {
    padding: 10px;
    border-radius: 5px;
    border:1px solid #CCC;
}
aside button {
    margin: 10px;
    margin-top: 0px;
}
.view-sensors {
    position: relative;
}
.sensor_nav {
    position: relative;
    top: -59px;
    left: 270px;
    width: calc(100vw - 301px);
}
.sensor_nav button {
    margin-left: 20px;
}
.add_icon {
    width: 42px;
    height: 42px;
    background-image: url('../../../public/images/add.svg');
}
.add_sensor_list {
    position:absolute;
    left: -30px;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.add_sensor:hover .add_sensor_list {
    display: block;
    z-index: 1;
    position: absolute;
}
.add_sensor_list div {
    white-space: nowrap;
    padding: 25px;
    cursor: pointer;
    border-top: 1px solid #FFF;
    background-color: #FFF;
}
.add_sensor_list div:hover {
    background-color: #f0f0f0;
}

.add_sensor {
    position: relative;
}
.sensor_chart {
    padding-top:20px;
}
aside {
    height: 500px;
    text-align:center;
}