.last_updated {
    float: right;
    position: relative;
    top: -65px;
    font-size: 13px;
}
.last_updated::before {
    content: "Last updated: ";
}
.selected_sensor {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}
.select_sensor {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 10px;
    background-color: #f9f9f9;
    width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.select_sensor div {
    padding: 25px;
    cursor: pointer;
    border-top: 1px solid #FFF;
    background-color: #FFF;
}
.select_sensor div:hover {
    background-color: #f0f0f0;
}
.select_sensor .selected {
    background-color: #F0F0F0;
}
.selected_sensor:hover .select_sensor {
    display: block;
}
@media screen and (max-width: 500px)  {
    .last_updated {
        font-size: 11px;
    }
    .last_updated::before {
    content: "Updated: ";
}
}